
body {
  background-color: #333333;
  color: limegreen;
  font-family: Impact;
  font-size: 14px;
  font-smooth: never;
  -webkit-font-smoothing:none;
}

#main {
  background-color: black;
  width: 300px;
  padding: 40px;
  margin: 40px;
}

th {
  font-size: 30px;
}